

<section class="md:max-w-5xl md:mx-auto mx-4 mt-24 rounded-lg bg-gray-100 px-5 py-6">
    <h2 class="text-center text-xl font-semibold">Create new product</h2>

    <form [formGroup]="form" class="w-full mt-12">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Ex. iPhone 2020">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description" placeholder="Ex. is the best phone">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Stock</mat-label>
        <input type="number" matInput formControlName="stock" placeholder="999">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price" placeholder="999">
      </mat-form-field>

      
    </form>
</section>




