

<h2 class="text-center font-bold md:text-3xl text-2xl mt-24">Thank you very much for your purchase</h2>


<section class="flex flex-col space-y-4 mt-12">
    <div class="flex gap-2 items-center justify-center">
        <p class="font-medium">You can see your purchased products at: </p>
        <a class="underline text-blue-500" routerLink="/user/profile">products purchased</a>
    </div>

    <div class="flex gap-2 items-center justify-center">
        <p class="font-medium">If you need help with someone from support, you can contact us from: </p>
        <a class="underline text-blue-500" routerLink="/contact/support">our contact form</a>
    </div>
</section>
