<section
    [ngClass]="{'justify-center' : !isBrowser}"
    class="flex md:flex-row items-center flex-col md:justify-between gap-4 py-3 px-16 bg-gray-50"
>
    @if (isBrowser) {
        <div>
            <h1
                routerLink="/"
                class="text-blue-500 cursor-pointer font-bold md:text-xl text-xl">DevComplete Studios
            </h1>
        </div>
    
        <div class="flex items-center gap-5 font-sans">
            @for (link of links(); track $index) {
                <a
                    routerLinkActive="opacity-100"
                    class="opacity-70 text-xs font-medium"
                    [routerLink]="link.path"
                    [title]="link.name"
                >{{link.name}}</a>
            }
        </div>

        @if (authService.user() != null) {
            <div class="flex gap-5 items-center">
                <button [matBadge]="shoppService.cart()?.products?.length" routerLink="/shopp/cart" mat-icon-button>
                    <mat-icon fontIcon="shopping_cart"/>
                </button>
                <profile-image [matMenuTriggerFor]="menu" [imageUrl]="authService.user()?.avatar"/>
            </div>
            <mat-menu #menu="matMenu">
                <button routerLink="/user/profile" mat-menu-item>Profile
                    <mat-icon fontIcon="person"/>
                </button>
                <button mat-menu-item>Support
                    <mat-icon fontIcon="support_agent"/>
                </button>
                <button mat-menu-item>Settings
                    <mat-icon fontIcon="settings"/>
                </button>
                @if (authService.user()?.roles?.includes('ADMIN')) {
                    <button routerLink="/admin/products" mat-menu-item>Admin
                        <mat-icon fontIcon="dashboard"/>
                    </button>
                }
                <button (click)="logout()" mat-menu-item>Logout
                    <mat-icon fontIcon="logout"/>
                </button>
            </mat-menu>
        }@else {
            <div class="flex items-center gap-3">
                <a
                    class="px-2.5 py-1 bg-blue-500 hover:opacity-80 transition-all duration-200 rounded-xl text-xs cursor-pointer text-white font-medium"
                    (click)="login()"
                >Login</a>
                <a
                    class="px-2.5 py-1 outline-2 outline-gray-400 rounded-xl text-xs cursor-pointer text-blue-500 font-medium transition-colors duration-200 hover:bg-gray-200"
                    routerLink="/register"
                >Create account</a>
            </div>
        }
    }@else {
        <navbar-skeleton/>
    }
</section>


<router-outlet/>

