<mat-form-field class="w-full">
  <mat-label>Enter your password</mat-label>
  <input placeholder="password123" matInput [type]="hide() ? 'password' : 'text'" [formControl]="password"/>
  <button
    class="cursor-pointer"
    type="button"
    mat-icon-button
    matSuffix
    (click)="clickEvent($event)"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide()"
  >
    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error>{{error()}}</mat-error>
</mat-form-field>